extends layout 

block content 
    h1= title
    ul
     each author in author_list
      li 
       a(href=author.url) #{author.name} 
       | 
       if author.date_of_birth_formatted != "Invalid DateTime" && author.date_of_death_formatted != "Invalid DateTime"
        | born (#{author.date_of_birth_formatted}) - died (#{author.date_of_death_formatted})
       else if author.date_of_birth_formatted != "Invalid DateTime"
        | born (#{author.date_of_birth_formatted})
       else if author.date_of_death_formatted != "Invalid DateTime"
        | died (#{author.date_of_death_formatted}) 
       else 
        | No information found     

     